/* intro */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9000;
  transition: all ease-out 1s;
}

.intro img {
  width: 90%;
}

ul {
  list-style: none;
}

/* tabButtons */
.app-controller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: #f2f2f2;
}

.app-controller li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.button-app-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tab-icon {
	display: block;
	width: 20px;
	height: 20px;
	margin-bottom: 6px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.icon-video {
  background-image: url(../assets/icons/video.png);
}
.icon-playedlist {
  background-image: url(../assets/icons/check.png);
}
.icon-search {
  background-image: url(../assets/icons/search.png);
}

/* topMovies */
.top5-roof {
  background-color: #363636;
  padding-top: 15%;
}

.movie-list-item {
  display: grid;
  grid-template-columns: 25px 110px 1fr;
  align-items: center;
}
.movie-cover {
  padding: 10px 10px 10px 0;
}
.movie-rank {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.movie-info {
  display: grid;
  grid-template-areas:
    "title               title"
    "subscription subscription"
    "channelName   createdDate"
  ;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.movie-title {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 15px;
  grid-area: title;
  -webkit-line-clamp: 1;
}
.movie-subscription {
  margin-bottom: 3px;
  font-size: 12px;
  grid-area: subscription;
  -webkit-line-clamp: 2;
}
.movie-channelName {
  font-size: 12px;
  grid-area: channelName;
}
.movie-createdDate {
  font-size: 12px;
  grid-area: createdDate;
}